<header>
<div class="navbar primary">

  <div class="item-container left">
    <p><a class="header-title" href="#">Quization</a></p>
  </div>
  <div class="item-container right">
    <ul class="link-list">
      <li><a href="#">My Profile</a></li>
      <li><a href="#">Make a quiz</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </div>

</div>
</header>
